body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/*----------------------  filter: blur(5px);-----------------End Navbar    */

/*---------------------------------------- Begin AboutUs intro    */
.about-us {
    padding: 200px;
    background-color: darkgrey;
    background-image: url("/images/flevo.jpeg");
    background-size: cover;

}
.btn3 {
    background-color: rgba(255, 132, 0, 0.93); /* Green background */
    border-radius: 8px;
    border: none; /* Green border */
    color: white; /* White text */
    padding: 5px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */

    font-family: sans-serif;
}
.btn3:hover {
    background-color: rgb(255, 132, 0);
    color: #ffffff;
}
.h31{

    color: rgba(255, 132, 0, 0.93);
    font-size: 40px;
    font-family: sans-serif;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;
}