body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.h31{

    color: rgba(255, 132, 0, 0.93);
    font-size: 40px;
    font-family: sans-serif;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;
}
.p2 {
    font-family: sans-serif;
}
.p2:hover{
    color: rgb(105, 187, 17);
}