.container-fluid{
    background-color: #ffffff;
}

.btn1 {
    background-color: #198754; /* Green background */
    border-radius: 8px;
    border: 1px solid #065933; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: sans-serif;
    margin: 2px;

}
.btn2 {
    background-color: #dc3545; /* Green background */
    border-radius: 8px;
    border: 1px solid #960f19; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: sans-serif;
    margin: 2px;
}
.btn3 {
    background-color: rgba(255, 132, 0, 0.93); /* Green background */
    border-radius: 8px;
    border: none; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: sans-serif;
}
.btn3:hover {
    background-color: rgb(255, 132, 0);
    color: #ffffff;
}
