body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    padding: 150px;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.18);
    background-image: url("/images/callcenter.jpeg");
    background-size: cover;
}
#invullen{
    display: flex;
    justify-content: flex-end ;
    width: 100%;
}
#invultekst{
    display: flex;
    justify-content: flex-start ;
}
#con1{
    background-color: #ffffff;
    border-radius: 10px;

}
#con2{
    background-color: #ffffff;
    border-radius: 10px;
}
#con3{
    background-color: #ffffff;
    border-radius: 10px;
}
.h34{
    justify-content: center;
    color: #000000;
    font-family: sans-serif;

}
.h31{

    color: rgba(255, 132, 0, 0.93);
    font-size: 40px;
    font-family: sans-serif;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;
}
.p2 {
    font-family: sans-serif;
}
.p2:hover{
    color: rgb(105, 187, 17);
}