body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*.hero-section {*/
/*    position: relative;*/
/*}*/
/*}*/
/*.hero-section_image {*/
/*    !*position: absolute;*!*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: right;*/
/*}*/

/*.hero-selection_caption-inner{*/
/*    background-color: rgb(225,255,255,0.8);*/
/*    padding-top: 20px;*/
/*    padding-right: 20px;*/
/*    padding-left: 20px;*/
/*    padding-bottom: 20px;*/
/*    padding-left: 20px;*/
/*    max-width: none;*/
/*}*/

/*[data-animatie-scroll] {*/
/*    transition: transform 0.4s ease, opacity 1s ease;*/
/*}*/
.hero-image {

    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image2 {
    padding: 40px 0;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    color: darkgreen;

    /*background-color: rgb(255, 255, 255);*/
    /*    padding-top: 20px;*/
    /*    padding-right: 20px;*/
    /*    padding-left: 20px;*/
    /*    padding-bottom: 20px;*/
    /*    padding-left: 20px;*/
    /*    max-width: none;*/
}
.h31{

    color: darkorange;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;
}
.h32{

    color: darkorange;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;
}
.h34{

    color: darkorange;
    font-size: 40px;
    font-family: sans-serif;
    text-align: left;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;
}
.h35{
    padding: 40px 0;
    color: rgba(0, 0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;

}
.h36{
    opacity: 0.8;
    padding: 40px 0;
    color: rgba(0, 0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
    line-height: 1.3;

}
.p1 {
    text-align: center;
    font-family: sans-serif;
}
.p2 {
    font-family: sans-serif;
}
.content{
    padding: 40px 0;
}

.carousel_wrapper{
    padding: 40px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: relative;
    pointer-events: none;
}

#test1:hover {
    transform: translate(-10px, -10px);
}

#test2:hover {
    transform: translate(-10px, -10px);
}
#test3:hover {
    transform: translate(-10px, -10px);
}
#test4:hover {
    transform: translate(-10px, -10px);
}

#tekst1{
    font-size: 24px;
    font-family: "Museo",sans-serif;
    color: rgba(255, 132, 0, 0.93);
    margin: 0 0 5px 0;
    font-weight: bold;
}



#productsap{
    background-image: url("/images/apple_orchard.jpg");
    background-repeat: no-repeat;
}

.button__background {
    justify-content: center;
    width: 80%;
    height: 100%;
    color: #ffffff;
    font-family: sans-serif;
    background-color: rgba(255, 132, 0, 0.93);
    border-radius: 5px;

}

.p22{
    color: #fd0000;
    font-family: sans-serif;
}