/* Body */
body{
    margin:0;
    padding:0;
    background-color: seashell !important;
}

#breadcrumb{
    font-size: 14px;
}

#breadcrumb a{
    color: green;
}

/* Search Bar (Placeholder) will be replaced with a PHP Required SearchBar  */
#searchbar button{
    background-color: white;
    border-color: green;
    color: green;
}

/* ----- Temporary Main Picture ----- */

#product_main{
    position: relative;
}

#product_main img{
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    height: auto;
}

/*#product_main span{*/
/*    !*position: absolute;*!*/
/*    !*top: 0%;*!*/
/*    !*left: 0%;*!*/
/*}*/


/* ------ Carousel ----- */

/*!* Make the image fully responsive *!*/
/*.carousel-inner img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#myCarousel .carousel-indicators {*/
/*    position: static;*/
/*    margin-top:20px;*/
/*}*/

/*#myCarousel .carousel-indicators > li {*/
/*    width:100px;*/
/*}*/

/*#myCarousel .carousel-indicators li img {*/
/*    display: block;*/
/*}*/


