#con2 {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;




}

.btn1 {
    background-color: rgba(255, 132, 0, 0.93);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgb(255, 132, 0);
    color: #ffffff;
}

.btn2 {

    background-color: rgba(255, 132, 0, 0.93);
    color: white;
    padding: 14px 20px;
    margin: 8px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 40%;

}

.btn2:hover {
    background-color: rgb(255, 132, 0);
    color: #ffffff;
}
.form-control:hover{
    background-color: rgba(80, 80, 80, 0.07);

}